.center-text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  font-family: fraunces;
}


.text-body {
  font-size: 16px;
  font-weight: normal;
  color: black !important; /* Force la couleur blanche */
  font-family: 'fraunces', serif;
  line-height: 1.6;
  text-align: left;
  z-index: 1; /* Assure que le texte soit au-dessus de la vidéo */
  position: relative;
}

/* Style colored boxes */
.box {
  width: 89%;
  height: 35%;
  padding: 20px;
  background-color: #404140;
  color: #FFF;
  margin-bottom: 50px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style de la vidéo en fond */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
}

body {
  margin: 0;
  font-family: Georgia, Sans-Serif;
  justify-content: center;
  align-items: center;
  animation: gradientBackground 30s linear infinite;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 1; /* S'assure que le contenu reste au-dessus de la vidéo */
}
